@font-face {
    font-family: "ShogunsClan";
    src: url("./weapon/fontForBullet/Shoguns\ Clan.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#game {
    background-color: transparent;
}

#webgl-display {
    background-color: blue;
}

.wrapper-currentAmmo
{
    position: fixed;
    bottom: 10px;
    left: 50px;
}

.currentAmmo {
    font-family: "ShogunsClan", sans-serif;
    font-size: 200px;
    color: orangered;
}