.room-window {
    width: 1718px;
    height: 1080px;
    position: fixed;
    left: 202px;
    background-color: #4C6351;
    display: flex;
    z-index: 5;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.room-window__header {
    width: 1496px;
    height: 88px;
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: #FFFFFF;
    margin: 0 0 0 0;
}

.room-window__room-info {
    width: 1463px;
    height: 590px;
    position: relative;
    top: 38px;
    border-radius: 25px;
    display: flex;
    flex-wrap: nowrap;
}

.room-info__main {
    width: 1049px;
    height: 100%;
    background-color: #4F4C34;
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-wrap: wrap;
}

.room-info__main-parameters-list {
    width: 950px;
    height: 168px;
    top: 130px;
    left: 80px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.room-info__main-parameters-list-item {
    width: 100%;
    height: 52px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0 2px 0;
}

.room-info__main-parameters-list-item-title {
    width: 324px;
    height: 100%;
    font-size: 48px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 0 0 0;
}

.room-info__main-parameters-list-item-value {
    width: 572px;
    height: 100%;
    font-size: 48px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 0 0 0;
}

.room-info__main-indicator-bar {
    width: 840px;
    height: 120px;
    position: relative;
    top: 78px;
    left: 48px;
    display: flex;
    flex-wrap: nowrap;
}

.room-info__main-indicator-bar-elem {
    width: 120px;
    height: 100%;
    margin: 0 10px 0 10px;
}

.room-info__main-indicator-bar-elem-icon {
    width: 26px;
    height: 26px;
    position: relative;
    left: 94px;
    top: -26px;
}

.room-info__decorations {
    width: 414px;
    height: 100%;
    border-radius: 0 25px 25px 0;
    overflow: hidden;
}

.room-window__buttons {
    width: 1474px;
    height: 102px;
    position: relative;
    top: 16px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.room-window__button {
    width: 614px;
    height: 100%;
    background-color: #A78058;
    font-size: 48px;
    color: #FFFFFF;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 0 0 0;
}

#room_leave {
    display: flex;
    justify-content: center;
    align-items: center;
}

#leave-room-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
