* {
    font-family: Ubuntu Mono, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    box-sizing: border-box;
    margin: 0 0 0 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.menu-bar {
    display: flex;
    flex-wrap: wrap;
    width: 202px;
    height: 1080px;
    background-color: #4F4C34;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 1;
}

.menu-bar__buttons {
    display: flex;
    width: 128px;
    height: 514px;
    background-color: #A78058;
    position: relative;
    top: 75px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 28px 0 0 0;
    border-radius: 16px;
}

.menu-bar__buttons-item {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #A78058;
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin: 20px 0 20px 0;
}

.parameters {
    display: none;
    z-index: 10;
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(79 76 52 / 90%);
}

.parameters-content {
    width: 1822px;
    height: 1020px;
    position: relative;
    top: 60px;
    left: 98px;
}

.parameters-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.parameters-list-item {
    width: 100%;
    height: 144px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 0 0 0;
}

.parameters-volume-title {
    width: 254px;
    height: 54px;
    position: relative;
    left: 88px;
    font-size: 48px;
    color: #FC9930;
}

.parameters-volume-slider {
    width: 1298px;
    height: 72px;
    position: relative;
    left: 138px;
}

.parameters-close {
    width: 520px;
    height: 84px;
    background-color: #A78058;
    border-radius: 25px;
    border: none;
    font-size: 48px;
    color: #240502;
    position: relative;
    top: 64px;
    left: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}
